.faq-container {
    background-color: hsl(0, 0%, 2%);
    color: #fff;
    padding: 40px;
    font-family: sans-serif;
    margin-top: 10px;

  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .faq-item {
    background-color: #333;
    margin-bottom: 10px;
    border-radius: 4px;
    cursor: pointer;
    padding: 25px 15px;
    transition: background-color 0.3s ease;
  }
  
  .faq-item.active {
    background-color: #444;
  }
  
  .faq-question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
  }
  
  .plus-icon {
    font-size: 20px;
    font-weight: bold;
  }
  
  .faq-answer {
    margin-top: 10px;
    font-size: 16px;
  }
  