header {
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
  
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px; /* Opcional, para limitar el ancho máximo del contenido */
    margin: 0 auto;
}
  
.netflix-logo {
    width: 150px;
}
  
.header-links {
    display: flex;
    align-items: center;
    gap: 20px; /* Espacio entre los elementos en el header */
}

.login-button {
    background-color: #e50914;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
}
  
.login-button:hover {
    background-color: #ca0202;
}
  
.language-selector {
    background: transparent;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 5px;
    font-size: 1rem;
}