/* App.css */
body {
  background-image: url('https://cdn.colombia.com/sdi/2023/01/31/netflix-las-peliculas-y-series-que-ya-no-haran-parte-de-su-catalogo-en-febrero-del-2023-1113706.jpg'), 
    linear-gradient(to top, rgba(0, 0, 0, 40%) 0, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 0.3) 100%);
  margin: 0;
  display: flex;
  flex-direction: column; /* Alinea los elementos verticalmente */
  min-width: 320px;
  min-height: 100vh;
  color: white;
  background-size: cover; 
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}


